*{
    box-sizing: none;
    margin: 0;
    padding: 0;
}
.container{
    display:grid;
    grid-template-columns:70% 30%;
    grid-column-gap: auto;
}

.mainbar{
   grid-row: 1/2; 
}
#my-units{
    padding:0.01%;
width: auto;
height: auto;

background: #ECE1E1;
}
#my-units h2{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #000000;
padding:0.5%;   
}

#top-bar{
    width: 1920px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: #737373;
}
#main-box{
    
width: auto;
height: fit;
background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
}
#main-box h1{
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 65px;
line-height: 84px;
padding:0.5%;   

color: #000000;
}
.main-box h3{
font-family: Roboto;
font-style: normal;
font-weight: light;
font-size: 18px;
line-height: 21px;
color: #000000;
padding:0.5%;
margin:0.2%;

}
.rightbar{
grid-row:2/3;
width: 630px;
height: 1027px;
left: 1289px;
top: 56px;

background: #B5ABAB;
}

/* Right Bar */
.rightBar{
    background-color: #C4C4C4;
}
.rightBar__anouncement{
    text-align: center;
    font-size: 22px;
    margin-bottom: 4rem;
}

.rightBar__anouncement h2{
    margin-bottom: 2rem;
}
.rightBar__content{
    list-style: none;
    width: 100%;
    margin-bottom: 2rem;
}

.rightBar__content li{
    color: black;
    font-size: 19px;
    background: #E5DCDC;
    padding: 1rem;
    width: 100%;
}

.rightBar__timeTable h2{
    text-align: center;
    margin-bottom: 2rem;
    background-color:#B5ABAB ;
    padding: 2rem;
}
.rightBar__listTable{
    list-style: none;
}

.rightBar__listTable li{
    margin-bottom: 1rem;
}
.listTable__list{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.listTable__status{
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.available{
    background-color: yellow;
}
.cancel{
    background-color: red;
}
.mainbar-classpage h1{
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;
}