.container{
    display:grid;
    grid-template-columns:70% 30%;
    grid-column-gap: auto;
}

.mainbar{
   grid-row: 1/2; 
}
#my-units{
    padding:0.01%;
width: auto;
height: auto;

background: #ECE1E1;
}
#my-units h2{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #000000;
padding:0.5%;   
}

#top-bar{
    width: 1920px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: #737373;
}
#main-box{
    
width: auto;
height: fit;
background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
}
#main-box h1{
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 65px;
line-height: 84px;
padding:0.5%;   

color: #000000;
}
.rightbar{
grid-row:2/3;
width: 630px;
height: 1027px;
left: 1289px;
top: 56px;

background: #B5ABAB;
}